<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Control Panel</title>
        <link rel="stylesheet" href="static/panelStyles.css">
    </head>
    <body>
      <script type="text/javascript" src="static/code.js"></script>
      <div class="header">
          <nav class="navigation">
              <a href="/profile">Profile</a>
              <a href="/panel" style="color: #28a9e5;">Control Panel</a>
              <a href="/assistant">Voice Assistant</a>
          </nav>
      </div>
      <form action="/panel" method="post">
        <div class="wrapper">
        <p>Light switch</p>
        <label class="switch">
          {%if lightStatus == 1%}
            <input type="checkbox" name = "light" id="light" value="on" checked>
          {%else%}
            <input type="checkbox" name = "light" id="light" value="on">
          {%endif%}
          <span class="slider round"></span>
        </label><br><br>
        <input type="checkbox" name="partyDigital" id="myCheckbox">
        <label for="myCheckbox">Enable Party mode</label>
        <br>
        <input type="range" name="partyAnolog" min="2" max="100" id="mySlider" disabled>
        <br>
        <p>Water valve</p>
        <label class="switch">
          {%if waterStatus == 1%}
            <input type="checkbox" name = "water" id="water" value="on" checked>
          {%else%}
            <input type="checkbox" name = "water" id="water" value="on">
          {%endif%}
            <span class="slider round"></span>
        </label><br><br>
        <input type="checkbox" name="waterDigital" id="waterDigital">
        <label for="waterDigital">Change water flow rate</label>
        <br>
        <input type="range" name="waterAnolog" min="2" max="100" id="waterAnolog" disabled>
        <br>
        <p>Gas valve</p>
        <label class="switch">
          {%if gasStatus == 1%}
            <input type="checkbox" name = "gas" id="gas" value="on" checked>
          {%else%}
            <input type="checkbox" name = "gas" id="gas" value="on">
          {%endif%}
            <span class="slider round"></span>
        </label><br><br>
        <input type="checkbox" name="gasDigital" id="gasDigital">
        <label for="gasDigital">Change gas flow rate</label>
        <br>
        <input type="range" name="gasAnolog" min="2" max="100" id="gasAnolog" disabled>
      </div>
        <input type="submit" class="btn">
        <a href="/doorOpen"><button type="button">Open the door</button></a><br>
        <a href="/doorClose"><button type="button">Close the door</button></a>
      </form>
    </body>
</html>
